.favourite-results-title {
    font-family: 'Oswald', sans-serif;
    font-size: 10em;
    font-weight: 700;
    color: #F2F0E9;
    padding-top: 30px;
  }

  
  h4 {
    color: #0D0D0D;
  }

  .favourites-div {
    display: flex;
    
  }
  
  .favourites-results-container {
    background-color: #7897BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-basis: 20%;
  }

  .favourites-results-container h2 {
    color: #0D0D0D;
  }

  .result-list {
    font-family: 'Oswald', sans-serif;
    color: #0D0D0D;
    font-weight: 400;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .custom-favourites:hover  {
      background-color: #BDF2ED;
    }
  
  
  .custom-list-item-favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(40% - 20px); /* Adjust column width for two columns */
    padding: 10px;
    margin-top: 10px;
    border-radius: 60px;
    border: 1px solid white;
    background-color: #7897BF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    list-style: none;
    cursor: default;
    text-align: center; /* Center-align text within list items */
    transition: background-color 0.3s ease;
  }
  
  .custom-list-item-favourittes:hover {
    background-color: #D96E48;
  }

  .custom-list-item-favourites a {
    color: #F2F0E9; /* Set the link color to green */
    text-decoration: none; /* Remove underlines from links */
  }
  
  /* Change link color on hover */
  .custom-list-item-favourites a:hover {
    color: #F2EFBB; /* Change link color to a darker green on hover */
  }


button {
    
    border-radius: 10px;
    margin-top: 5px;
}

@media(max-width: 768px) {

  .favourite-results-title {
    font-size: 3em;
    justify-content: center;
    padding-top: 1em
  }
  
  .result-list {
    font-size: 3em;
    padding-top: 1em

  }

  .custom-list-item-favourites {
    
    flex-basis: calc(80% - 5px);
    padding: 1em;
    margin-top: 1em;
    border-radius: 70px;
    font-size: .3em;
  }

 
}