body {

  background-color: #7897BF;
  
}

.search-page {
  
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .search-bar {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 0px;
  }
  
  .search-input {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 5em;
  }

  input, select, option, button {
    font-family: 'Oswald', sans-serif;
    font-family: 400;
    font-size: 1.2em;
    color: #F2F0E9;
    background: #D96E48;
    border: 0;
    border-radius: 5px;
    margin: .8em;
  }

  .search-page .search-bar input::placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #F2EFBB; 
  }
  
  .title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20.5em;
    margin: auto 0 0; 
    padding: 0;
    margin-bottom: 0;
  }

  