.search-results {
    font-family: 'Oswald', sans-serif;
    font-size: 10em;
    font-weight: 700;
    margin-top: .2em;
    color: black;
  }
  
  h4 {
    color: blue;
  }

  .container-menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 22%; 
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    overflow-y: auto; /* Allow scrolling within the container */
    border-radius: 20em;
    display: flex;
}

.menu-side {
    width: 100%; /* Adjust width as needed */
    
    border-radius: 20em;
    padding: 1em; /* Add padding to avoid content sticking to edges */
    display: flex;
    justify-content: center;

}



  
  .result-list {
    font-family: 'Oswald', sans-serif;
    background-image: url('../assets/Texture.jpg');
    background-attachment: fixed;
    font-weight: 400;
    font-size: 1.2em;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  
  .custom-list-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(80% - 500px);
    padding: .5em;
    margin-top: 0;
    border-radius: 20em;
    padding-top: 1em;
    
    list-style: none;
    cursor: default;
    text-align: center; 
    transition: background-color 0.3s ease;
  }
  .custom-list-container {
    background-color: white;
    flex-basis: calc(80% - 500px);
    border-radius: 10em;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 1.5em;
  margin-top: 1em;
  margin-left: 10em;
  }

  
  .custom-list-item:hover {
    background-color: #8C3766;
  }

  .custom-list-item a {
    color: #F2F0E9; /* Set the link color to green */
    text-decoration: none; /* Remove underlines from links */
  }
  
  /* Change link color on hover */
  .custom-list-item a:hover {
    color: #F2EFBB; /* Change link color to a darker green on hover */
  }

 .small-button{
  font-size: 1em;
  border: none;
  background-color: #F2EA79;
  padding: .5em;
  border-radius: 5em;
 }

@media(max-width: 768px) {
  
  .search-results {
    font-size: 3em;
    padding-top: 1em

  }

  .custom-list-item {
    
    flex-basis: calc(80% - 5px);
    padding: 1em;
    margin-top: 1em;
    border-radius: 70px;
    font-size: .3em;
  }

 
}
  