h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #F2F0E9;
  }
  
  h4 {
    color: #0D0D0D;
  }
  
  .search-results-container {
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-basis: 20%;
  }
  
  .result-list {
    font-family: 'Oswald', sans-serif;
    color: #0D0D0D;
    font-weight: 400;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .custom-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(40% - 20px); /* Adjust column width for two columns */
    padding: 10px;
    margin-top: 10px;
    border-radius: 40px;
    border: 1px solid #0D0D0D;
    background-color: #7897BF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    list-style: none;
    cursor: default;
    text-align: center; /* Center-align text within list items */
    transition: background-color 0.3s ease;
  }
  
  .custom-list-item:hover {
    background-color: #D96E48;
  }

  .custom-list-item a {
    color: #F2F0E9; /* Set the link color to green */
    text-decoration: none; /* Remove underlines from links */
  }
  
  /* Change link color on hover */
  .custom-list-item a:hover {
    color: #F2EFBB; /* Change link color to a darker green on hover */
  }

  button {
    
    border-radius: 10px;
    margin-top: 5px;
}
  